<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Main</title>

    <!-- style sheets -->
    <link href="static/styles/global.css" rel="stylesheet" type="text/css" />
    <link href="static/styles/login.css" rel="stylesheet" type="text/css" />

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png">
    <link rel="manifest" href="static/assets/site.webmanifest">

    <!-- scripts -->
    <script src="static/scripts/main.js" async></script>
</head>

<body>
    <p>Logged in as {{ user.UserName }}</p><a href="/logout">LOGOUT</a>

    <div id='postBox'>
        <h1>new byte</h1>
        <input type="file" onchange="previewFile(this)" accept="image/png, image/jpeg">
        <form autocomplete="off" method="POST">
            <input type='text' name='caption' placeholder="your sustainability tip..." value={{request.form.caption}}>
            <input hidden id="img-base64-txt" type="text" name="image" value={{request.form.image}}>
            <button type="submit">post</button>
        </form>
    </div>

    {% if posts %}
        {% for post in posts %}
            <div class='post-card'>
                <h1>user{{ post.UserID }}</h1>
                <img src="{{ post.ImageLink }}">
                <p>{{ post.Caption }}</p>
                <p>posted {{ post.Date }}</p>
                <p>sustainability score {{ post.Points }}</p>
            </div>
        {% endfor %}
    {% endif %}

</body>

</html>