body {
    background-color: #93C572;
}

#title, #main-text, #logo {
    text-align: center;
}

#title h1 {
    color: #228B22;
    font-size: 64px;
    font-family: Ariel;
}

#main-text p {
    color: #228B22;
    font-family: Ariel;
}